<div class="col_half">
  <div class="widget clearfix">
    <!-- <img
      src="../contact-us/sum+footerlogo.jpg"
      alt="footer-logo"
      class="footer-logo"
    /> -->

    <p>
      Sumpositive is a leading managed services provider and consulting
      enterprise with digital transformation and business efficiency across
      industry verticals.
    </p>

    <div
      class="clearfix"
      style="
        padding: 10px 0;
        background: url('images/world-map.png') no-repeat center center;
      "
    >
      <div class="col_half">
        <address class="nobottommargin">
          <abbr
            title="USA Office"
            style="
              display: inline-block;
              margin-bottom: 7px;
              font-family: 'Times New Roman';
              font-size: 16px;
            "
            ><strong>USA Office:</strong></abbr
          ><br />
          Eastcoast Office(HQ) : <br />
          500 West Putnam Avenue,<br />
          Suite 400,<br />
          Greenwich, CT 06830<br />
        </address>
        <br />
      </div>

      <div class="col_half col_last">
        <address class="nobottommargin">
          <abbr
            title="Canada Office"
            style="
              display: inline-block;
              margin-bottom: 7px;
              font-family: 'Times New Roman';
              font-size: 16px;
            "
            ><strong>Canada Office:</strong></abbr
          ><br />
          4145 North Service Road<br />
          Burlington, ON <br />
          L7L 6A3 Canada
        </address>
      </div>
      <div class="col_half col_last">
        <address class="nobottommargin" style="margin-top: 15px">
          <abbr
            title="India Office"
            style="
              display: inline-block;
              margin-bottom: 7px;
              font-family: 'Times New Roman';
              font-size: 16px;
            "
            ><strong>India Office:</strong></abbr
          ><br />
          1st Floor , N Heights,<br />
          Plot No 38, Phase 2, <br />Siddiq Nagar, HITEC City, Hyderabad,<br />
          Telangana 500081
        </address>
      </div>
    </div>
    <a
      href="https://www.facebook.com/sum.positive?mibextid=LQQJ4d"
      class="social-icon si-small si-rounded topmargin-sm si-facebook"
    >
      <mat-icon>facebook</mat-icon>
    </a>
    <a
      href="https://www.linkedin.com/company/sumpositive/?viewAsMember=true"
      target="_blank"
      class="social-icon si-small si-rounded topmargin-sm si-linkedin"
    >
      <mat-icon>linkedIn</mat-icon>
    </a>
  </div>
</div>
