<div class="container">
  <mat-card class="horizontal-card about-card">
    <mat-card-content>
      <h1>Sumpositive Overview</h1>
      <div class="text">
        <h4>
          SumPositive is a dynamic and innovative software company known for its
          commitment to delivering high-quality products and exceptional
          customer service. Our team of skilled developers and engineers
          specializes in creating software solutions that address the unique
          needs and challenges of our clients across various industries.
          <br /><br />
          Its core operations include product development, research, and
          innovation to stay competitive and meet evolving market demands.
          <br />
          <br />
          Our sales and marketing teams are dedicated to building strong
          relationships with our clients and effectively communicating the value
          of our products. Through targeted campaigns and strategic
          partnerships, we aim to expand our reach and connect with businesses
          that can benefit from our solutions.<br /><br />
          The company provides dedicated customer support to assist users with
          installation, troubleshooting, and usage queries, ensuring high levels
          of customer satisfaction and retention. <br />
          sumpositive is good company with dedicated employees. <br />
          <br />
        </h4>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="horizontal-card contact-card">
    <mat-card-content>
      <h1>Contact-Us</h1>
      <div class="widget clearfix">
        <p>
          Sumpositive is a leading managed services provider and consulting
          enterprise with digital transformation and business efficiency across
          industry verticals.
        </p>

        <div class="clearfix">
          <div class="col_half">
            <address class="nobottommargin">
              <abbr title="USA Office"><strong>USA Office:</strong></abbr
              ><br />
              Eastcoast Office(HQ) : <br />
              500 West Putnam Avenue,<br />
              Suite 400,<br />
              Greenwich, CT 06830<br />
            </address>
            <br />
          </div>

          <div class="col_half col_last">
            <address class="nobottommargin">
              <abbr title="Canada Office"><strong>Canada Office:</strong></abbr
              ><br />
              4145 North Service Road<br />
              Burlington, ON <br />
              L7L 6A3 Canada
            </address>
          </div>
          <div class="col_half col_last">
            <address class="nobottommargin" style="margin-top: 15px">
              <abbr title="India Office"><strong>India Office:</strong></abbr
              ><br />
              1st Floor , N Heights,<br />
              Plot No 38, Phase 2, <br />Siddiq Nagar, HITEC City, Hyderabad,<br />
              Telangana 500081
            </address>
          </div>
        </div>
        <a
          href="https://www.facebook.com/sum.positive?mibextid=LQQJ4d"
          class="social-icon si-small si-rounded topmargin-sm si-facebook"
        >
          <mat-icon>facebook</mat-icon>
        </a>
        <a
          href="https://www.linkedin.com/company/sumpositive/?viewAsMember=true"
          target="_blank"
          class="social-icon si-small si-rounded topmargin-sm si-linkedin"
        >
          <mat-icon>linkedIn</mat-icon>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
