.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../weather-info/124344-miui-8-weather-background-minimal-hd.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.weather-card {
  width: 450px;
  text-align: center;
  font-family: "Times New Roman" !important;
  padding: 20px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.4);
  background: linear-gradient(
    to bottom right,
    #39bbd7 0%,
    #39bbd7 50%,
    #56c5dd 50%,
    #56c5dd 100%
  );
  transition: transform 0.3s ease-in-out;
  border-radius: 15px;
}

.weather-image {
  display: block;
  margin: 20px auto;
  max-width: 40%;
}

.weather-card:hover {
  transform: scale(1.05);
}

.input-container {
  margin-bottom: 10px;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 8px;
  border-radius: 20px;
}

.weather-details {
  margin-top: 20px;
}

.weather-card::before,
.weather-card::after {
  content: "";
  position: absolute;
  top: -20px;
  width: 80px;
  height: 60px;
  background-size: cover;
}

.weather-card::before {
  left: -20px;
}

.weather-card::after {
  right: -20px;
}

@media screen and (max-width: 768px) {
  .weather-card {
    width: 40%;
  }
}

@media screen and (max-width: 480px) {
  .weather-card {
    width: 90%;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column {
  padding: 0 10px;
}
.neat-button {
  background-color: #0085a3;
  border: none;
  height: 40px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 50%;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
  border-radius: 12px;
}

.neat-button:hover {
  background-color: #01333e;
  transform: scale(1.05);
}

.neat-button:active {
  transform: translateY(2px);
}
