<!-- <home-page></home-page> -->
<mat-toolbar>
  <button mat-icon-button (click)="nav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo">SumPositive</div>
  <div class="extra"></div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-wrapper">
  <mat-sidenav
    opened="false"
    #nav
    [opened]="screenWidth > 425"
    [mode]="screenWidth > 425 ? 'side' : 'over'"
  >
    <a routerLinkActive="active" [routerLink]="['home-page']" color="primary">
      <button mat-button>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
    </a>
    <a
      routerLinkActive="active"
      [routerLink]="['registration-page']"
      color="primary"
    >
      <button mat-button>
        <mat-icon>login</mat-icon>
        <span>Registration</span>
      </button>
    </a>
    <a routerLinkActive="active" [routerLink]="['about-page']" color="primary">
      <button mat-button>
        <mat-icon>info</mat-icon>
        <span>About Us</span>
      </button>
    </a>
    <!-- <a routerLinkActive="active" [routerLink]="['contact-us']" color="primary">
      <button mat-button>
        <mat-icon>call</mat-icon>
        <span>Contact-Us</span>
      </button>
    </a> -->
    <a
      routerLinkActive="active"
      [routerLink]="['weather-info']"
      color="primary"
    >
      <button mat-button>
        <mat-icon>ac_unit</mat-icon>
        <span>Weather-Info</span>
      </button>
    </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
