.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../registration-page/contact-form-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  position: relative;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
  // overflow: hidden;
  transition: transform 0.5s ease, box-shadow 0.5s ease !important;
  background: linear-gradient(
    to bottom right,
    #aaaee489 0%,
    #aaaee489 50%,
    #aaaee489 50%,
    #aaaee489 100%
  );
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  pointer-events: none;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
}

.form-container {
  padding: 20px;
}

.header1 {
  text-align: center;
  padding-top: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
  color: #fff;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  flex: 0 0 calc(50% - 10px);
  margin-bottom: 20px;
  transition: all 0.5s ease;
}

.form-group.label-radio {
  flex: 0 0 calc(50% - 10px);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.form-group.label-radio label {
  margin-right: 10px;
}

.form-group.btn-group {
  flex: 0 0 100%;
  text-align: center;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-family: "Georgia";
  font-weight: bold;
  color: black;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1.5px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: transparent;
}

.form-group input[type="radio"] {
  width: auto;
  margin-right: 5px;
}

input[type="submit"] {
  width: 100%;
  background-color: #70abdbc9;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#btn:not(:disabled):hover {
  background-color: #090754;
}

.error-msg {
  display: block;
  width: 100%;
  color: rgb(248, 20, 20);
}
